# Node modules
node_modules/
# Build output
dist/
build/
web-build/
# Expo/EAS
.expo/
.expo-shared/
*.turtle/
*.expo/
# Mac/Linux/Windows
.DS_Store
Thumbs.db
# dotenv
.env
.env.*
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*
# Android/iOS
android/
ios/

android
ios